body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(13, 1, 61),;
    color: white;
}
nav{
    padding: 300px;
    margin: 250px;
    background-color:beige;
    border: 200px;
}
nav ul{
list-style: none;
text-align: center;
}
nav li{
    display: inline-block;
    margin-left: 15px;
}
nav a{
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    border: 1 px solid transparent;
    transition: 0.25s;
    color: beige;
    padding-right: 100px;
}
nav img{
    width: 65px;
    height: 6px;
    float: left;
}